#section-1 {
    background-image: url("../images/S1BG.jpg");
    background-position: top;
}

.nav-link {
    font-family: 'Sriracha', cursive;
    font-size: 3vh;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 3vh;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.section
{
    padding-top: 8vh ;
    height: 100vh;
}

#section-2 {
    background-color: #F0776D;
}

#section-3 {
    background-color: #F5DDAE;
}

#section-4 {
    background-color: #F5CAC8;
}

.img-pos
{
    object-fit: cover;
    object-position: center;
}

#heading-main{
    font-size: 20vh;
    font-family: 'Indie Flower', cursive;
}

#sub-heading-main{
    font-size: 10vh;
    font-family: 'Zilla Slab', serif;
}